---
permalink: /projects/landing-pages.html
---

{% set project = "landing-pages" %}

{% from "components/button-overview-library.njk" import buttonBackLibrary %}

<div x-data="(function () { return {
			translation: {
				en: {
					'old': 'Before',
					'new': 'Now'
				},
				cs: {
					'old': 'Předchozí verze',
					'new': 'Aktuální verze'
				}
			}
		}
		})()">

	<div class="flex flex-row items-center pb-8 space-x-6 border-b border-gray-400">
		{{ buttonBackLibrary() }}
		{# <hr class="w-40 border-gray-500">
			<h3 class="text-3xl font-bold text-gray-900" x-text="messages[$store.global.language].title"></h3> #}
	</div>

	<div class="mx-auto prose prose-sm sm:prose md:prose-lg lg:prose-xl">

		<div class="flex flex-grow items-center">
			<img x-bind:class="`h-${$store['translation.projects'].return(`list['{{ project }}'].logoHeight`)}`" x-bind:src="`./images/project/{{ project }}/${$store['translation.projects'].return(`list['{{ project }}'].logo`)}`">
		</div>

		<div class="grid gap-y-2 gap-x-5 font-medium" style="grid-template-columns: min-content auto">
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.client') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].client`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.type') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].type`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.platforms') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].platforms`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.stack') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].stack`)"></span>
		</div>

		<picture>
			<source srcset="./images/project/{{ project }}/1.webp" type="image/webp">
			<source srcset="./images/project/{{ project }}/1.png" type="image/png">
			<img src="./images/project/{{ project }}/1.png" class="w-full rounded-lg border border-gray-300" loading="lazy">
		</picture>
		<picture>
			<source srcset="./images/project/{{ project }}/2.webp" type="image/webp">
			<source srcset="./images/project/{{ project }}/2.png" type="image/png">
			<img src="./images/project/{{ project }}/2.png" class="w-full rounded-lg border border-gray-300" loading="lazy">
		</picture>

	</div>
	<div class="grid grid-cols-2 gap-x-8 my-8">
		<div class="flex flex-col space-y-4">
			<span class="text-xl font-medium text-gray-600" x-text="translation[$store.global.language]['old']"></span>
			<picture>
				<source srcset="./images/project/{{ project }}/3a.webp" type="image/webp">
				<source srcset="./images/project/{{ project }}/3a.png" type="image/png">
				<img src="./images/project/{{ project }}/3a.png" class="w-full rounded-lg border border-gray-300" loading="lazy">
			</picture>
		</div>
		<div class="flex flex-col space-y-4">
			<span class="text-xl font-medium text-gray-600" x-text="translation[$store.global.language]['new']"></span>
			<picture>
				<source srcset="./images/project/{{ project }}/3b.webp" type="image/webp">
				<source srcset="./images/project/{{ project }}/3b.png" type="image/png">
				<img src="./images/project/{{ project }}/3b.png" class="w-full rounded-lg border border-gray-300" loading="lazy">
			</picture>
		</div>
	</div>

	<div class="flex flex-row items-center pt-8 space-x-6 border-t border-gray-400">
		{{ buttonBackLibrary() }}
		{# <hr class="w-40 border-gray-500">
		<h3 class="text-3xl font-bold text-gray-900" x-text="messages[$store.global.language].title"></h3> #}
	</div>
</div>
