---
permalink: /projects/mmt.html
---

{% set project = "mmt" %}

{% from "components/button-overview-library.njk" import buttonBackLibrary %}

<div x-data="(function () { return {
			translation: {
				en: {
					1: '<strong>Bohemica Studio was chosen to revamp a website of Czech company specialising in industrial automation and robotics.</strong> The MMT is a well-established company in the European market – providing assembly lines and other machinery for major car manufacturers and supplying components of renowned brands across the continent and beyond.',
					2: ''
				},
				cs: {
					1: 'Jsme ryze česká firma, máme za sebou 20 let zkušeností, zaměstnáváme odborníky na problematiku v daném oboru, používáme komponenty od výrobců renomovaných značek.'
				}
			}
		}
		})()">

	<div class="flex flex-row items-center pb-8 space-x-6 border-b border-gray-400">
		{{ buttonBackLibrary() }}
		{# <hr class="w-40 border-gray-500">
		<h3 class="text-3xl font-bold text-gray-900" x-text="messages[$store.global.language].title"></h3> #}
	</div>

	<div class="mx-auto prose prose-sm sm:prose md:prose-lg lg:prose-xl"> {# style="max-width: none !important;" #}

		<div class="flex flex-grow items-center">
			<img x-bind:class="`h-${$store['translation.projects'].return(`list['{{ project }}'].logoHeight`)}`" x-bind:src="`/images/project/{{ project }}/${$store['translation.projects'].return(`list['{{ project }}'].logo`)}`">
		</div>

		<div class="grid gap-y-2 gap-x-5 font-medium" style="grid-template-columns: min-content auto">
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.client') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].client`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.year') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].year`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.type') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].type`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.industry') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].industry`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.platforms') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].platforms`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.stack') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].stack`)"></span>
		</div>

		<hr class="border-gray-500">

		<p><strong>TLDR</strong> - Check out the live website:
			<a href="https://mmt.cz" target="_blank">mmt.cz</a>
		</p>

		<h3>Project description</h3>
		<p x-html="translation[$store.global.language][1]"></p>
		<p>After a thorough discussion with the management team, we established a few key targets for the site:</p>
		<ul>
			<li>Professional and modern look of the site</li>
			<li>Emphasis on the content – easy to find and read</li>
			<li>Simple content management system with an internationalisation option</li>
		</ul>
		<h3>Process</h3>
		<p>The whole process was fairly straightforward:</p>
		<ol>
			<li>Design – wireframes for each page, followed by mock-ups</li>
			<li>Coding – user-interface in HTML/CSS alongside the CMS integration</li>
			<li>Finalisation – reponsivity, testing, SEO, etc.</li>
		</ol>

		<figure>
			<figcaption><strong>We designed few alterations of each page</strong></figcaption>
			<picture>
				<source srcset="/images/project/mmt/1.webp" type="image/webp">
				<source srcset="/images/project/mmt/1.png" type="image/png">
				<img src="/images/project/mmt/1.png" class="w-full rounded-lg border border-gray-300" media="(min-width: 960px)" loading="lazy">
			</picture>
		</figure>

		<figure>
			<figcaption><strong>Our client received a detailed explanation of each UI/UX choice</strong></figcaption>
			<picture>
				<source srcset="/images/project/mmt/2.webp" type="image/webp">
				<source srcset="/images/project/mmt/2.png" type="image/png">
				<img src="/images/project/mmt/2.png" class="w-full rounded-lg border border-gray-300" media="(min-width: 960px)" loading="lazy">
			</picture>
		</figure>

		<figure>
			<figcaption><strong>Mock-ups in Figma</strong></figcaption>
			<picture>
				<source srcset="/images/project/mmt/3.webp" type="image/webp">
				<source srcset="/images/project/mmt/3.png" type="image/png">
				<img src="/images/project/mmt/3.png" class="w-full rounded-lg border border-gray-300" media="(min-width: 960px)" loading="lazy">
			</picture>
		</figure>

		<figure>
			<figcaption><strong>Final result</strong></figcaption>
			<picture>
				<source srcset="/images/project/mmt/4.webp" type="image/webp">
				<source srcset="/images/project/mmt/4.png" type="image/png">
				<img src="/images/project/mmt/4.png" class="w-full rounded-lg border border-gray-300" media="(min-width: 960px)" loading="lazy">
			</picture>
		</figure>

		<p>Live website:
			<a href="https://mmt.cz" target="_blank">mmt.cz</a>
		</p>
	</div>
</div>


