---
permalink: /projects/overview.html
---

<h3 class="pb-8 text-3xl font-bold text-gray-900 border-b border-gray-600" x-text="$store['translation.projects'].return('projectLibrary')"></h3>

<div class="grid grid-cols-1 auto-rows-fr">
	<template x-for="(entry, index) in Object.entries($store['translation.projects'].return('list'))" :key="entry[0]">
		<a x-bind:href="window.router.getPath(entry[0])" data-navigo class="flex flex-col col-span-1 justify-between items-start py-10 px-4 space-y-12 border-b-2 border-gray-500 outline-none lg:pl-0 lg:pr-6 lg:hover:pl-6 lg:focus:pl-6 hover:border-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200" style="transition: padding 200ms ease-in-out, background-color 100ms linear 50ms">
			<div class="flex flex-grow items-center">
				<img alt="Image graphics" x-bind:class="'h-'+entry[1].logoHeight" x-bind:src="`./images/project/${entry[0]}/${entry[1].logo}`">
			</div>
			<div class="flex flex-col space-y-6">
				<div class="text-xl text-gray-900 md:text-2xl lg:text-3xl">
					<span x-text="entry[1].client"></span>
					<span x-show="entry[1].year" x-text="' | '"></span>
					<span x-show="entry[1].year" class="font-semibold" x-text="entry[1].year"></span>
				</div>
				<div class="flex flex-wrap space-x-1 space-x-reverse">
					<template x-for="(category, index) in entry[1].categories">
						<span class="select-none text-white bg-gray-600 text-sm px-2.5 py-1 rounded-full font-medium whitespace-nowrap" x-text="category"></span>
					</template>
				</div>
			</div>
		</a>
	</template>
</div>

{% macro projectsTranslation() %}
	<script>
		Spruce.store('translation.projects', {
			en: {
				projectLibrary: 'Project library',
				labels: {
					client: 'Client',
					year: 'Year',
					type: 'Project type',
					industry: 'Industry',
					platforms: 'Platforms',
					stack: 'Technology stack'
				},
				list: {
					'media-server': {
						client: 'T-Mobile (Magenta Experience Center)',
						logo: 'logo.svg',
						logoHeight: '12',
						year: 2021,
						type: 'Digital signage server and player',
						industry: 'Professional video recording',
						categories: ['Signage', 'Application', 'UI/UX'],
						platforms: 'Web, TV',
						stack: 'Electron.js, Strapi, Tailwind CSS, Vue.js, MySQL'
					},
					'mmt': {
						client: 'MMT s.r.o., Czech Republic',
						logo: 'logo.svg',
						logoHeight: '20',
						year: 2020,
						type: 'Company website',
						industry: 'Production automation and robotics',
						platforms: 'Web',
						categories: ['Website', 'UI/UX', 'CMS', 'Styleguide', 'Mockup', 'SEO'],
						stack: 'Apostrophe CMS, MongoDB, Alpine.js, Tailwind CSS'
					},
					'lancaster-maloney': {
						client: 'Lancaster Maloney',
						logo: 'logo.png',
						logowebp: 'logo.webp',
						logoHeight: '12',
						year: 2020,
						type: 'Dashboard management system (FMS/CMMS)',
						industry: 'Property care and management',
						platforms: 'Web',
						categories: ['Dashboard', 'CRON', 'Property management'],
						stack: 'CoreUI, Vue.js, Strapi, PHP, MySQL, CentOS'
					},
					'subtitle-editor': {
						client: 'SlidesLive',
						logo: 'logo.svg',
						logoHeight: '12',
						year: 2020,
						type: 'Internal application',
						industry: 'Professional conference recording',
						platforms: 'Web',
						categories: ['Application', 'UI/UX', 'API', 'Embed player'],
						stack: 'Vue.js, Tailwind CSS, Axios, Gitlab Pages'
					},
					'superflow': {
						client: 'Superflow',
						logo: 'logo.svg',
						logoHeight: '10',
						year: 2020,
						type: 'Mobile app',
						industry: 'FinTech',
						platforms: 'Mobile',
						categories: ['Research', 'User flow', 'Prototyping', 'UI/UX'],
						stack: 'Figma, Drama'
					},
					'landing-pages': {
						client: 'Various',
						logo: 'logo.svg',
						logoHeight: '10',
						year: false,
						type: 'Landing pages',
						industry: false,
						platforms: 'Web, Mobile',
						categories: ['Landing pages', 'Mock-ups', 'UI/UX'],
						stack: 'Sketch, Figma, Illustration, HTML/CSS'
					},
					'branding': {
						client: 'Various',
						logo: 'logo.svg',
						logoHeight: '10',
						year: false,
						type: 'Brand resources - logos, icons, styleguide, etc.',
						industry: false,
						platforms: 'Web, social media, physical products or commercials',
						categories: ['Branding', 'Styleguide', 'Colour pallets', 'Icons'],
						stack: 'Sketch, Figma, Illustrator'
					}
				}
			},
			cs: {
				projectLibrary: 'Knihovna projektu',
				labels: {
					client: 'Klient',
					year: 'Rok',
					type: 'Typ',
					industry: 'Odvětví',
					platforms: 'Média',
					stack: 'Technologie'
				},
				list: {
					'media-server': {
						client: 'T-Mobile (Magenta Experience Center)',
						logo: 'logo.svg',
						logoHeight: '12',
						year: 2021,
						type: 'Pokročilý systém správy a přehrávání mediálního obsahu',
						categories: ['Webové stránky', 'UI/UX', 'CMS'],
						stack: 'Electron.js, Strapi, Tailwind CSS, Vue.js, MySQL, ...',
						industry: 'Chytrá organizace video-ploch'
					},
					'mmt': {
						client: 'MMT s.r.o.',
						logo: 'logo.svg',
						logoHeight: '20',
						year: 2020,
						type: 'Firemní webová stránka',
						industry: 'Průmyslová automatizace',
						platforms: 'Web',
						categories: ['Webové stránky', 'UI/UX', 'CMS', 'Průvodce stylem', 'Mockup', 'SEO'],
						stack: 'Apostrophe CMS, MongoDB, Alpine.js, Tailwind CSS'
					},
					'lancaster-maloney': {
						client: 'Lancaster Maloney',
						logo: 'logo.png',
						logowebp: 'logo.webp',
						logoHeight: '12',
						year: 2020,
						type: 'Systém pro správu obsahu',
						industry: 'Péče a správa nemovitostí',
						platforms: 'Web',
						categories: ['Dashboard', 'CORS', 'Správa nemovitostí'],
						stack: 'CoreUI, Vue.js, Strapi, CentOS'
					},
					'subtitle-editor': {
						client: 'SlidesLive',
						logo: 'logo.svg',
						logoHeight: '12',
						year: 2020,
						type: 'Interní aplikace',
						industry: 'Profesionální záznam konferencí',
						platforms: 'Web',
						categories: ['Dashboard', 'UI/UX', 'CMS'],
						stack: 'Vue.js, Tailwind CSS, Axios, Gitlab Pages'
					},
					'superflow': {
						client: 'Superflow',
						logo: 'logo.svg',
						logoHeight: '10',
						year: 2020,
						type: 'Company website',
						industry: 'Production automation and robotics',
						platforms: 'Web',
						categories: ['Webové stránky', 'UI/UX', 'CMS'],
						stack: 'Figma, Drama'
					},
					'landing-pages': {
						client: 'Ukázkové stránky',
						logo: 'logo.svg',
						logoHeight: '10',
						year: false,
						type: 'Cílové/vstupní stránky',
						industry: false,
						platforms: 'Web',
						categories: ['Webové stránky', 'Návrhy', 'UI/UX'],
						stack: 'Sketch, Figma, Illustrator, HTML/CSS'
					},
					'branding': {
						client: 'Ukázky vizuálního designu',
						logo: 'logo.svg',
						logoHeight: '10',
						year: false,
						type: 'Brandové prostředky - loga, ikonky, style manual, atd.',
						industry: false,
						platforms: 'Web, sociální média, fyzické produkty či reklamy',
						categories: ['Branding', 'Style manuály', 'Palety barev', 'Ikonky'],
						stack: 'Sketch, Figma, Illustration, Photoshop'
					}
				}
			},
			return: function (data) {
				return Object.getProperty(Spruce.stores['translation.projects'], Spruce.stores.global.language + '.' + data)
			}
		})
	</script>
{% endmacro %}
