---
permalink: /projects/project-proposal.html
---

<div class="mx-auto w-full md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg">
	<table class="min-w-full proposal-table">
		<thead class="bg-blue-gray-500">
		<tr class="font-medium tracking-wide text-left font-dm-mono">
			<th scope="col" class="py-3 px-6 text-white uppercase">
				Phase
			</th>
			<th scope="col" class="py-3 px-6 w-full text-white uppercase">
				Detail
			</th>
			<th scope="col" class="flex flex-col py-3 px-6 whitespace-nowrap">
				<span class="text-white uppercase">Time range</span>
				<span class="text-xs font-medium text-blue-gray-200">(hours)</span>
			</th>
		</tr>
		</thead>
		<tbody class="bg-white">
		<tr class="phase">
			<td>
				1. phase
			</td>
			<td class="w-full">
				Research
			</td>
			<td>
				30/hr
			</td>
		</tr>
		<tr>
			<td>
				Project brief
			</td>
			<td>
				<ul>
					<li>
						Feasibility analysis {# Analýza proveditelnosti #}
					</li>
					<li>
						Feature exploration
					</li>
					<li>
						Milestone defition {# Definice cílů #}
					</li>
					<li>
						Timeline
					</li>
					<li>
						Technology stack
					</li>
				</ul>
			</td>
			<td>
				2 - 6
			</td>
		</tr>
		<tr>
			<td>
				UI/UX research
			</td>
			<td>
				<ul>
					<li>
						Moodboard
					</li>
					<li>Wireframe
						<ul class="ml-4">
							<li>Home/portfolio/project page</li>
							<li>2 variations of each page</li>
						</ul>
					</li>
					<li>
						Information architecture/user flow
					</li>
				</ul>
			</td>
			<td>
				6 - 12
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td style="padding-left: 0 !important; padding-right: 0 !important;">
				<div class="flex flex-col py-3 px-6 text-white whitespace-nowrap bg-blue-500 rounded-md">
					<div class="flex flex-row justify-between items-center">
						<span class="font-medium">8 - 18 hrs</span>
						<span class="text-xs uppercase">(2 - 4 days)</span>
					</div>
					<span class="mt-2 font-bold">240 - 540 £/€/$</span>
				</div>
			</td>
		</tr>
		<tr class="phase">
			<td>
				2. phase
			</td>
			<td class="w-full">
				Design
			</td>
			<td>
				40/hr
			</td>
		</tr>
		<tr>
			<td>
				Mock-up homepage
			</td>
			<td>
				<ul>
					<li>
						Desktop & mobile version
					</li>
					<li>
						UX commentary
					</li>
					<li>
						Partial copywriting
					</li>
				</ul>
			</td>
			<td>
				16 - 24
			</td>
		</tr>
		<tr>
			<td>
				Simple design system
			</td>
			<td>
				<ul>
					<li>
						Colors and typography
					</li>
					<li>
						UI component library
					</li>
					<li>
						Other assets
					</li>
				</ul>
			</td>
			<td>
				3 - 6
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td style="padding-left: 0 !important; padding-right: 0 !important;">
				<div class="flex flex-col py-3 px-6 text-white whitespace-nowrap bg-blue-500 rounded-md">
					<div class="flex flex-row justify-between items-center">
						<span class="font-medium">19 - 30 hrs</span>
						<span class="text-xs uppercase">(1 week)</span>
					</div>
					<span class="mt-2 font-bold">760 - 1200 £/€/$</span>
				</div>
			</td>
		</tr>
		<tr class="phase">
			<td>
				3. phase
			</td>
			<td class="w-full">
				Development
			</td>
			<td>
				40/hr
			</td>
		</tr>
		<tr>
			<td>
				Front-end
			</td>
			<td>
				<ul>
					<li>
						HTML/CSS markup
					</li>
					<li>
						Connection to the CMS
					</li>
					<li>
						Usability optimization
					</li>
				</ul>
			</td>
			<td>
				20 - 32
			</td>
		</tr>
		<tr>
			<td>
				Back-end
			</td>
			<td>
				<ul>
					<li>
						Database architecture
					</li>
					<li>
						Authentication & authorisation
					</li>
				</ul>
			</td>
			<td>
				20 - 32
			</td>
		</tr>
		<tr>
			<td>
				CMS
			</td>
			<td>
				<ul>
					<li>
						Drag & drop functionality
					</li>
					<li>
						Internationalisation
					</li>
					<li>
						Custom search
					</li>
				</ul>
			</td>
			<td>
				20 - 32
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td style="padding-left: 0 !important; padding-right: 0 !important;">
				<div class="flex flex-col py-3 px-6 text-white whitespace-nowrap bg-blue-500 rounded-md">
					<div class="flex flex-row justify-between items-center">
						<span class="font-medium">60 - 96 hrs</span>
						<span class="text-xs uppercase">(2 weeks)</span>
					</div>
					<span class="mt-2 font-bold">2400 - 3840 £/€/$</span>
				</div>
			</td>
		</tr>
		<tr class="phase">
			<td>
				4. phase
			</td>
			<td class="w-full">
				Completion
			</td>
			<td>
				40/hr
			</td>
		</tr>
		<tr>
			<td>
				Deployment
			</td>
			<td>
				<ul>
					<li>
						Hosting
					</li>
					<li>
						CI/CD
					</li>
				</ul>
			</td>
			<td>
				2 - 6
			</td>
		</tr>
		<tr>
			<td>
				SEO
			</td>
			<td>
				<ul>
					<li>
						Best practices
					</li>
					<li>
						Asset optimisation
					</li>
					<li>
						Analytics integration
					</li>
				</ul>
			</td>
			<td>
				2 - 8
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td style="padding-left: 0 !important; padding-right: 0 !important">
				<div class="flex flex-col py-3 px-6 text-white whitespace-nowrap bg-blue-500 rounded-md">
					<div class="flex flex-row justify-between items-center">
						<span class="font-medium">4 - 14 hrs</span>
						<span class="text-xs uppercase">(1 - 2 days)</span>
					</div>
					<span class="mt-2 font-bold">160 - 560 £/€/$</span>
				</div>
			</td>
		</tr>
		<tr>
			<td style="border: 0px !important;">
			</td>
			<td colspan="2" style="padding-left: 0 !important; padding-right: 0 !important; border: 0px !important;">
				<div class="flex flex-row justify-between items-center p-6 text-base font-bold text-white whitespace-nowrap bg-blue-700 rounded-md">
					<div class="flex flex-row items-center space-x-4">
						<span class="uppercase tracking-wide">Total:</span>
						<span class="text-sm uppercase">(3 - 4 weeks)</span>
					</div>
					<span class="text-lg">91 - 158 hrs = 3560 - 6140 £/€/$</span>
				</div>
			</td>
		</tr>
	</table>
</div>
