---
permalink: /projects/subtitle-editor.html
---

{% set project = "subtitle-editor" %}

{% from "components/button-overview-library.njk" import buttonBackLibrary %}

<div x-data="(function () { return {
			translation: {
				en: {
				},
				cs: {
				}
			}
		}
		})()">

	<div class="flex flex-row items-center pb-8 space-x-6 border-b border-gray-400">
		{{ buttonBackLibrary() }}
		{# <hr class="w-40 border-gray-500">
		<h3 class="text-3xl font-bold text-gray-900" x-text="messages[$store.global.language].title"></h3> #}
	</div>

	<div class="mx-auto prose prose-sm sm:prose md:prose-lg lg:prose-xl"> {# style="max-width: none !important;" #}

		<div class="flex flex-grow items-center">
			<img x-bind:class="`h-${$store['translation.projects'].return(`list['{{ project }}'].logoHeight`)}`" x-bind:src="`./images/project/{{ project }}/${$store['translation.projects'].return(`list['{{ project }}'].logo`)}`">
		</div>

		<div class="grid gap-y-2 gap-x-5 font-medium" style="grid-template-columns: min-content auto">
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.client') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].client`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.year') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].year`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.type') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].type`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.industry') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].industry`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.platforms') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].platforms`)"></span>
			<span class="text-gray-500 whitespace-nowrap font-dm-mono" x-text="$store['translation.projects'].return('labels.stack') + ':'"></span>
			<span class="text-gray-800" x-text="$store['translation.projects'].return(`list['{{ project }}'].stack`)"></span>
		</div>

		<hr class="border-gray-500">

		<p>Aplikace pro úpravu a tvorbu titulků k videoprezentacím</p>

		<h3>Popis projektu</h3>
		<p><strong>Pro významnou produkčně - technickou společnost</strong> v oboru konferencí jsme vyvinuli software pro
		úpravu a vytváření titulků k videím.</p>
		<ul>
			<li>Staticky generovaná webová aplikace</li>
			<li>Napojení na API pro získávání a ukládání dat</li>
			<li>Synchronizace s vloženým přehrávačem</li>
			<li>Multijazyčnost</li>
		</ul>
		<h3>Proces</h3>
		<p>Technické řešení:</p>
		<ol>
			<li>Front-end framework: Vue.js</li>
			<li>Vzhled: Tailwind CSS</li>
		</ol>

		<figure>
			<figcaption><strong>Vyhledávání skrze poskytnuté API</strong></figcaption>
			<picture>
				<source srcset="./images/project/subtitle-editor/2.webp" type="image/webp">
				<source srcset="./images/project/subtitle-editor/2.png" type="image/png">
				<img src="./images/project/subtitle-editor/2.png" class="w-full rounded-lg border border-gray-300" media="(min-width: 960px)" loading="lazy">
			</picture>
		</figure>

		<figure>
			<figcaption><strong>Úprava a tvorba titulků v přehledém editoru přímo v prohlížeci</strong></figcaption>
			<picture>
				<source srcset="./images/project/subtitle-editor/1.webp" type="image/webp">
				<source srcset="./images/project/subtitle-editor/1.png" type="image/png">
				<img src="./images/project/subtitle-editor/1.png" class="w-full rounded-lg border border-gray-300" media="(min-width: 960px)" loading="lazy">
			</picture>
		</figure>


	</div>

	<div class="flex flex-row items-center pt-8 space-x-6 border-t border-gray-400 mt-16">
		{{ buttonBackLibrary() }}
	</div>
</div>


