@import "fonts.css";
@import "tailwind.css";
@import "icons.css";
@import "../../node_modules/tippy.js/animations/scale-subtle.css";

/* Global vars */
:root {
    --windowFormula: calc(1% + 0.5vw + 0.25vh + 0.75vmin)
}

/* Tippy.js related styles */
.tippy-box[data-theme='bohemica'] {
    @apply bg-blue-gray-200 text-blue-gray-800 border border-blue-gray-50 shadow-tooltip py-0.5 px-1 rounded-md font-medium
}

/* Alpine.js related styles */
[x-cloak] {
    display: none !important;
    visibility: hidden !important;
}

.loading {
    cursor: wait;
    overflow: hidden;
}


/* Slideover */
#slideoverContentWrapper::-webkit-scrollbar-track {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/* MediumZoom.js related styles */
.medium-zoom-image--opened {
    @apply rounded-sm border-0
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

/* Github cards */
#github-cards {
    body.ready {
        @apply border rounded-2xl border-cool-gray-400 shadow-none !important
    }

    .repo-card .footer {

    }
}

/* Proposal table */
.proposal-table {
    border-spacing: 0 0.75rem;
    border-collapse: separate;

    tbody tr.phase td {
        @apply py-4 px-6 whitespace-nowrap bg-blue-gray-300 font-medium text-blue-gray-800 text-base border-none
    }

    tbody tr.phase + tr td {
        @apply border-none pt-0 !important
    }

    tbody tr:not(.phase) td {
        @apply border-t border-blue-gray-400
    }

    tbody tr:not(.phase) td:first-child {
        @apply px-6 pt-3 text-sm font-medium text-blue-gray-700 whitespace-nowrap
    }

    tbody tr:not(.phase) td:nth-child(2) {
        @apply px-6 pt-3 text-xs text-blue-gray-500
    }

    tbody tr:not(.phase) td:nth-child(2) ul {
        @apply list-disc list-inside
    }

    tbody tr:not(.phase) td:nth-child(3) {
        @apply px-6 pt-3 text-sm font-medium text-blue-gray-600 whitespace-nowrap
    }
}

/* Grid in how section */
ul.grid-how {
    @apply grid grid-cols-2 grid-styled md:grid-cols-3 lg:grid-cols-4 to-md:grid-styled-2 only-md:grid-styled-3 lg:grid-styled-4 auto-rows-fr
}

ul.grid-how li {
    @apply flex flex-col items-center pt-10 pb-8 space-y-4 justify-between
}

ul.grid-how li > div {
    @apply flex items-center justify-center flex-grow
}

ul.grid-how li > div > img {
    @apply transform scale-75 md:scale-100
}

ul.grid-how li > span {
    @apply tracking-wide leading-none text-cool-gray-700 font-optician-sans text-center
}

/* Grid styled */
.grid-styled__item {
    @apply relative border-cool-gray-400
}

.grid-styled__item__before {
    @apply z-10
}

.grid-styled__first-row__first-item {
    @apply border !important
}

.grid-styled__first-row__first-item__before {
    @apply absolute inset-0 pointer-events-none;
    content: '';
    margin: -7px;
    background-repeat: no-repeat;
    background-position: top right, bottom right, bottom left, top left;
    background-image: url("./images/grid-cross.svg"), url("./images/grid-cross.svg"), url("./images/grid-cross.svg"), url("./images/grid-cross.svg");
}

.grid-styled__first-row {
    @apply border-b border-t border-r border-l-0
}

.grid-styled__first-row__before {
    @apply absolute inset-0 pointer-events-none;
    content: '';
    margin: -7px;
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    background-image: url("./images/grid-cross.svg"), url("./images/grid-cross.svg");
}

.grid-styled__other-rows__first-item {
    @apply border-b border-l border-t-0 border-r !important
}

.grid-styled__other-rows__first-item__before {
    @apply absolute inset-0 pointer-events-none;
    content: '';
    margin: -7px;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    background-image: url("./images/grid-cross.svg"), url("./images/grid-cross.svg");
}

.grid-styled__other-rows {
    @apply border-b border-r border-t-0 border-l-0
}

.grid-styled__other-rows__before {
    @apply absolute inset-0 pointer-events-none;
    content: '';
    margin: -7px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url("./images/grid-cross.svg");
}


@responsive {

    .grid-styled li {
        @apply grid-styled__item
    }

    .grid-styled li:before {
        @apply grid-styled__item__before
    }


    .grid-styled-4 li:first-child {
        @apply grid-styled__first-row__first-item
    }

    .grid-styled-4 li:first-child:before {
        @apply grid-styled__first-row__first-item__before;
    }

    .grid-styled-4 li:nth-child(n+2):nth-child(-n+5) {
        @apply grid-styled__first-row
    }

    .grid-styled-4 li:nth-child(n+2):nth-child(-n+5):before {
        @apply grid-styled__first-row__before;
    }

    .grid-styled-4 li:nth-child(4n + 1):not(:first-child) {
        @apply grid-styled__other-rows__first-item
    }

    .grid-styled-4 li:nth-child(4n + 1):not(:first-child):before {
        @apply grid-styled__other-rows__first-item__before
    }

    .grid-styled-4 li:nth-child(n+5) {
        @apply grid-styled__other-rows
    }

    .grid-styled-4 li:nth-child(n+5):before {
        @apply grid-styled__other-rows__before
    }


    .grid-styled-3 li:first-child {
        @apply grid-styled__first-row__first-item
    }

    .grid-styled-3 li:first-child:before {
        @apply grid-styled__first-row__first-item__before
    }

    .grid-styled-3 li:nth-child(n+2):nth-child(-n+4) {
        @apply grid-styled__first-row
    }

    .grid-styled-3 li:nth-child(n+2):nth-child(-n+4):before {
        @apply grid-styled__first-row__before
    }

    .grid-styled-3 li:nth-child(3n + 1):not(:first-child) {
        @apply grid-styled__other-rows__first-item
    }

    .grid-styled-3 li:nth-child(3n + 1):not(:first-child):before {
        @apply grid-styled__other-rows__first-item__before
    }

    .grid-styled-3 li:nth-child(n+4) {
        @apply grid-styled__other-rows
    }

    .grid-styled-3 li:nth-child(n+4):before {
        @apply grid-styled__other-rows__before
    }


    .grid-styled-2 li:first-child {
        @apply grid-styled__first-row__first-item
    }

    .grid-styled-2 li:first-child:before {
        @apply grid-styled__first-row__first-item__before
    }

    .grid-styled-2 li:nth-child(n+2):nth-child(-n+3) {
        @apply grid-styled__first-row
    }

    .grid-styled-2 li:nth-child(n+2):nth-child(-n+3):before {
        @apply grid-styled__first-row__before
    }

    .grid-styled-2 li:nth-child(2n + 1):not(:first-child) {
        @apply grid-styled__other-rows__first-item
    }

    .grid-styled-2 li:nth-child(2n + 1):not(:first-child):before {
        @apply grid-styled__other-rows__first-item__before
    }

    .grid-styled-2 li:nth-child(n+2) {
        @apply grid-styled__other-rows
    }

    .grid-styled-2 li:nth-child(n+2):before {
        @apply grid-styled__other-rows__before
    }
}
