@import "fonts.css";
@import "tailwind.css";
@import "icons.css";
@import "../../node_modules/tippy.js/animations/scale-subtle.css";

/* Tippy.js related styles */
.tippy-box[data-theme='bohemica'] {
    @apply bg-blue-gray-200 text-blue-gray-800 border border-blue-gray-50 shadow-tooltip py-0.5 px-1 rounded-md font-medium
}

/* Alpine.js related styles */
[x-cloak] {
    display: none;
    visibility: hidden;
}

.loading {
    cursor: wait;
    overflow: hidden;
}

