<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		{% block title %}Does it work?{% endblock %}
	</title>
	<meta charset="UTF-8"/>
	{% if description %}
		<meta name="description" content="{{ description }}"/>
	{% endif %}
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
	<base href="/" />
	<link rel="stylesheet" href="./style.css?v={% version %}"/>
	{% block head %}{% endblock %}
	<script src="./script/spruce.js?v={% version %}"></script>
	<script src="./script/anime.js?v={% version %}"></script>
	<script src="./script/alpine.js?v={% version %}"></script>
	<script src="./script/navigo.js?v={% version %}"></script>
	{#<script src="./script/franxx.js?v={% version %}"></script>#}
	{#<script src="//unpkg.com/navigo@6"></script>#}
</head>
<body>
{% block content %}
	{{ content | safe }}
{% endblock %}
</body>
</html>
