<!DOCTYPE html>
<html language="en">
<head>
	<title>
		{% block title %}Does it work?{% endblock %}
	</title>
	<meta charset="UTF-8"/>
	{% if description %}
		<meta name="description" content="{{ description }}"/>
	{% endif %}
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
	<base href="/"/>
	<link rel="stylesheet" href="./style.css?v={% version %}"/>
	{% block head %}{% endblock %}
	<script src="./script/spruce.js?v={% version %}"></script>
	<script src="./script/anime.js?v={% version %}"></script>
	<script src="./script/alpine.js?v={% version %}"></script>
	<script src="./script/navigo.js?v={% version %}"></script>
	<script src="./script/helpers.js?v={% version %}"></script>
	<script src="./script/store.js?v={% version %}"></script>
	<script src="./script/router.js?v={% version %}"></script>
</head>
<body class="relative min-h-screen font-dm-sans" x-bind:class="$store.global.loaded ? ($store.slideover.showSlideover ? 'overflow-hidden' : '') : 'loading'" x-data>
{% block content %}
	{{ content | safe }}
{% endblock %}
<script src="./script/parallax.js?v={% version %}"></script>
<script src="./script/main.js?v={% version %}"></script>
</body>
</html>
