<!DOCTYPE html>
<html lang="en"> {# TODO dynamic changes via SPRUCE ??? #}
<head>
	<!-- Title -->
	<title>
		{% block title %}Does it work?{% endblock %}
	</title>
	<!-- Meta -->
	<meta charset="UTF-8"/>
	{% if description %}
		<meta name="description" content="{{ description }}"/>
	{% endif %}
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
	<base href="/"/>
	<!-- Favicon generated via https://realfavicongenerator.net/ -->
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/images/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- CSS style & fonts -->
	<link rel="stylesheet" href="./style.css?v={% version %}"/>
	<!-- Helper JS functions -->
	<script src="./script/helpers.js?v={% version %}"></script>
	<script src="./script/alpine-magic-helpers.js?v={% version %}"></script>
	<script src="./script/alpine-toggle.js?v={% version %}"></script>
	<!-- External JS libraries -->
	<script src="./script/alpine.js?v={% version %}" defer></script>
	<script src="./script/arrive.js?v={% version %}"></script>
	<script src="./script/anime.js?v={% version %}"></script>
	<script src="./script/spruce.js?v={% version %}"></script>
	<script src="./script/navigo.js?v={% version %}"></script>
	<script src="./script/popper.js?v={% version %}"></script>
	<script src="./script/tippy.js?v={% version %}"></script>
	<script src="./script/medium-zoom.js?v={% version %}"></script>
	<script src="./script/dayjs.js?v={% version %}"></script>
	<!-- Internal JS scripts -->
	<script src="./script/animation.js?v={% version %}"></script>
	<script src="./script/store.js?v={% version %}"></script>
	<script src="./script/router.js?v={% version %}"></script>
	<script src="./script/tooltip.js?v={% version %}" defer></script>
	<script src="./script/parallax.js?v={% version %}" defer></script>
	<script src="./script/main.js?v={% version %}" defer></script>
	{% block head %}{% endblock %}
</head>
<body class="relative min-h-screen font-dm-sans" x-bind:class="$store.global.loaded ? (($store.slideover.open || $store.global.mobileMenuOpen) ? 'overflow-hidden' : '') : 'loading'" x-data>
{% block content %}
	{{ content | safe }}
{% endblock %}
<script src="https://embed.small.chat/THACGK2VBC01JQPUSBG9.js" defer async></script>
</body>
</html>
