{% macro buttonLibrary() %}
	<a x-bind:href="window.router.getPath('overview')" data-navigo class="flex flex-row items-center py-3 px-5 space-x-1 font-medium bg-yellow-400 rounded-xl ring-offset-2 transition duration-100 ease-linear focus:ring-2 group focus:ring-offset-gray-legacy-800 focus:ring-yellow-200">
		<span class="leading-none whitespace-nowrap text-gray-legacy-800 group-hover:text-gray-legacy-900" x-text="$store['global'].return('openProjectLibrary')"></span>
		<i class="transition duration-200 ease-out transform gg-chevron-right text-gray-legacy-800 group-hover:text-gray-legacy-900 group-hover:translate-x-0.5 flex-shrink-0"></i>
	</a>
{% endmacro %}
