{% macro sectionTitle(section='sectionHow', name='first', icon='process.svg', subtitle=true, customIcon=false, color='dark') %}
	<div class="flex flex-col items-center mx-auto w-full text-center md:w-8/12 lg:w-1/2">
		{% if customIcon === false %}
			<img class="h-full" src="./images/icon/{{ icon }}">
		{% else %}
			{{ customIcon }}
		{% endif %}
		<h3 class="mt-6 text-2.25xl md:text-3xl lg:text-4xl font-medium lg:leading-normal {{ 'text-cool-gray-800' if color === 'dark' else 'text-cool-gray-200' }}" x-text="$store['translation.{{ section }}'].return('{{ name }}.title')"></h3>
		{% if subtitle %}
			<h4 class="mt-6 md:text-lg leading-relaxed font-dm-mono {{ 'text-cool-gray-700' if color === 'dark' else 'text-cool-gray-300' }}" x-text="$store['translation.{{ section }}'].return('{{ name }}.subtitle')"></h4>
		{% endif %}
	</div>
{% endmacro %}
