---
permalink: /sections/how-much.html
---

{% from "components/section-intro.njk" import sectionIntro %}

{{ sectionIntro(name='how-much', backgroundColor='gray-legacy-700', textColor='red', lineColor='gray-legacy-400') }}
