---
permalink: /sections/how.html
---

{% macro sectionHowTranslation() %}
	Spruce.store('translation.sectionHow', {
	en: {
	first: {
	title: 'Our process. Simplified.',
	subtitle: 'See below what you can expect.'
	},
	tools: {
	first: 'Coding',
	second: 'Styling',
	third: 'JavaScript',
	fourth: 'Storing & managing',
	fifth: 'Visualising & prototyping',
	},
	second: {
		title: 'We speak many languages.',
		subtitle: 'A list of most prominent languages, libraries and tools that we use to build awesome digital products and services.'
		}
	},
	cs: {
	first: {
	title: 'Náš proces. Zjednodušený.',
						subtitle: 'Níže se podívejte, co můžete očekávat.'
	},
	tools: {
	first: 'Kódování',
	second: 'Stylování',
	third: 'JavaScriptování',
	fourth: 'Datování',
	fifth: 'Prototypování',
	},
	second: {
		title: 'Mluvíme mnoha jazyky.',
			subtitle: 'Seznam předních programovacích jazyků, knihoven a nástrojů, které používáme k vytváření úžasných digitálních produktů a služeb.'
		}
	},
	return: function (data) {
	return Object.getProperty(Spruce.stores['translation.sectionHow'], Spruce.stores.global.language + '.' + data)
	}
	})
{% endmacro %}

{% from "components/section-intro.njk" import sectionIntro %}
{% from "components/section-title.njk" import sectionTitle %}
{% from "components/process-step.njk" import processStep, processStepsTranslation %}
{% from "components/badge-feature.njk" import badgeFeature %}

<div class="bg-cool-gray-300">

	{{ sectionIntro(name='how', backgroundColor='gray-legacy-600', textColor='yellow', lineColor='gray-legacy-400') }}

	<div class="container" x-data x-init="(function () { {{ sectionHowTranslation() }} {{ processStepsTranslation() }} })()">
		{{ sectionTitle(section='sectionHow', name='first', icon='process.svg') }}
		<div class="mt-12 mb-16 space-y-12 md:mt-24 md:mb-32 md:space-y-40">
			{{ processStep(step='1', color='cyan', imageTop='bubble', imageBottom='coffee') }}
			{{ processStep(step='2', color='teal', imageTop='notebook', imageBottom='pencil') }}
			{{ processStep(step='3', color='emerald', imageTop='rocket', imageBottom='shield') }}
		</div>
	</div>

	<div class="flex relative flex-grow justify-center mx-auto w-full h-20 md:h-28">
		<hr class="border-t-0 border-l border-cool-gray-400" style="bottom: -100%; height: 200%">
	</div>

</div>

<div class="bg-cool-gray-100">
	<div class="m-auto h-20 md:h-28"></div>
	<div class="container pb-16 mt-12 space-y-24 md:pb-32 md:mt-32" x-data x-init="(function () { {{ sectionHowTranslation() }} {{ processStepsTranslation() }} })()">
		{{ sectionTitle(section='sectionHow', name='second', icon='code.svg') }}
		<div>
			<h5 class="mb-6 text-2xl font-medium" x-text="$store['translation.sectionHow'].return('tools.first')"></h5>
			<ul class="grid-how">
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/javascript.svg" loading="lazy">
					</div>
					<span>JavaScript</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/php.svg" loading="lazy">
					</div>
					<span>PHP</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/laravel.svg" loading="lazy">
					</div>
					<span>Laravel</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/csharp.svg" loading="lazy">
					</div>
					<span>C#</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/swift.svg" loading="lazy">
					</div>
					<span>Swift</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/swiftui.svg" loading="lazy">
					</div>
					<span>SwiftUI</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/kotlin.svg" loading="lazy">
					</div>
					<span>Kotlin</span>
				</li>
			</ul>
		</div>
		<div>
			<h5 class="mb-6 text-2xl font-medium" x-text="$store['translation.sectionHow'].return('tools.second')"></h5>
			<ul class="grid-how">
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/html5.svg" loading="lazy">
					</div>
					<span>HTML5</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/css3.svg" loading="lazy">
					</div>
					<span>CSS3</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/tailwindcss.svg" loading="lazy">
					</div>
					<span>Tailwind CSS</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/bootstrap.svg" loading="lazy">
					</div>
					<span>Bootstrap</span>
				</li>
			</ul>
		</div>
		<div>
			<h5 class="mb-6 text-2xl font-medium" x-text="$store['translation.sectionHow'].return('tools.third')"></h5>
			<ul class="grid-how">
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/vuejs.svg" loading="lazy">
					</div>
					<span>Vue.js</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/nuxtjs.svg" loading="lazy">
					</div>
					<span>Nuxt.js</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/nodejs.svg" loading="lazy">
					</div>
					<span>Node.js</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/gridsome.svg" loading="lazy">
					</div>
					<span>Gridsome</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/alpinejs.svg" loading="lazy">
					</div>
					<span>Alpine.js</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/jquery.svg" loading="lazy">
					</div>
					<span>jQuery</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/animejs.svg" loading="lazy">
					</div>
					<span>Anime.js</span>
				</li>
			</ul>
		</div>
		<div>
			<h5 class="mb-6 text-2xl font-medium" x-text="$store['translation.sectionHow'].return('tools.fourth')"></h5>
			<ul class="mt-12 grid-how">
				<li>
					{{ badgeFeature(name='officialPartner', icon='official-partner.svg', link='https://apostrophecms.com/') }}
					<div>
						<img alt="Type of skill" src="./images/logo/apostrophecms.svg" loading="lazy">
					</div>
					<span>
							Apostrophe CMS
						</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/strapi.svg" loading="lazy">
					</div>
					<span>Strapi</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/wordpress.svg" loading="lazy">
					</div>
					<span>Wordpress</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/elementor.svg" loading="lazy">
					</div>
					<span>Elementor</span>
				</li>
			</ul>
		</div>
		<div>
			<h5 class="mb-6 text-2xl font-medium" x-text="$store['translation.sectionHow'].return('tools.fifth')"></h5>
			<ul class="mt-12 grid-how">
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/figma.svg" loading="lazy">
					</div>
					<span>Figma</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" title="Click drama to add drama" class="w-auto h-20" src="./images/logo/drama.png" loading="lazy">
					</div>
					<span onclick="window.itseaster()">Drama</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" src="./images/logo/framer.svg" loading="lazy">
					</div>
					<span>Framer</span>
				</li>
				<li>
					<div>
						<img alt="Type of skill" class="w-auto h-20" src="./images/logo/spline.png" loading="lazy">
					</div>
					<span>Spline</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="flex relative flex-grow justify-center mx-auto w-full h-20 md:h-28">
		<hr class="border-t-0 border-l border-cool-gray-400" style="bottom: -100%; height: 200%">
	</div>

</div>
