---
permalink: /sections/repos.html
---

{% macro sectionReposTranslation() %}
	Spruce.store('translation.sectionRepos', {
	en: {
	info: {
	title: 'Built with joy and open-source technologies.',
	subtitle: 'We built this website with the help of lightweight and dare-to-say pioneering libraries.',
	},
	second: {
	title: 'We speak many languages.',
	subtitle: 'A list of most prominent languages, libraries and tools that we use to build awesome digital products and services.'
	}
	},
	cs: {

	},
	return: function (data) {
	return Object.getProperty(Spruce.stores['translation.sectionRepos'], Spruce.stores.global.language + '.' + data)
	}
	})
{% endmacro %}

{% from "components/git-card.njk" import gitCard %}
{% from "components/section-title.njk" import sectionTitle %}

<div class="bg-blue-gray-800" id="repos" x-data x-init="(function () { {{ sectionReposTranslation() }} })()">
	<div class="container py-24">

		{{ sectionTitle(section='sectionRepos', name='info', icon='open-source.svg', color='light') }}

		<div id="github-cards" class="grid grid-cols-3 auto-rows-fr gap-6 mt-16 mb-8">
			{{ gitCard(name='11ty/eleventy') }}
			{{ gitCard(name='alpinejs/alpine') }}
			{{ gitCard(name='tailwindlabs/tailwindcss') }}
			{{ gitCard(name='ryangjchandler/spruce') }}
			{{ gitCard(name='krasimir/navigo') }}
			{{ gitCard(name='juliangarnier/anime') }}
		</div>

		<div class="flex flex-col items-center">
			<p class="text-2xl text-cool-gray-200">& many more</p>
			<p class="my-4 text-cool-gray-300">
				You can find the code repository on GitHub.
			</p>
			<button>Go to the repo</button>
		</div>

	</div>
