---
permalink: /sections/what.html
---

{% from "components/project-example.njk" import projectExample %}
{% from "components/specialisation.njk" import specialisation, specialisationsTranslation %}
{% from "components/section-intro.njk" import sectionIntro %}
{% from "components/button-library.njk" import buttonLibrary %}

<div class="bg-black">

	{{ sectionIntro(name='what') }}

	<div class="container">
		<div class="flex flex-col divide-y divide-gray-legacy-500" x-data x-init="(function () { {{ specialisationsTranslation() }} })()">
			<div class="pb-8 md:pb-16">
				{{ specialisation(name='code', image='code.svg', color='orange', order='01') }}
			</div>
			<div class="divide-y divide-gray-legacy-500">
				{# {{ projectExample(project='media-server', imageWrapper='screen') }} #}
				{# {{ projectExample(project='lancaster-maloney', imageWrapper='browser', reverse=true) }} #}

				{{ projectExample(project='subtitle-editor', imageWrapper='3d', imageSize='40', badges=[{name:'sourceCode', icon:'source-code.svg', link:false}]) }}
				{{ projectExample(project='lancaster-maloney', imageWrapper='3d', imageSize='50', reverse=true) }}
				{{ projectExample(project='mmt', imageWrapper='3d', imageSize='45') }}
			</div>

			<div class="pt-16 pb-8 md:pt-40 md:pb-16">
				{{ specialisation(name='iot', image='iot.svg', color='indigo', order='02') }}
			</div>
			<div class="divide-y divide-gray-legacy-500">
				{{ projectExample(project='media-server', imageWrapper='3d', imageSize='50', badges=[{name:'latestProject', icon:'latest-project.svg', link:false}, {name:'saasProduct', icon:'saas-product.svg', link:'https://www.bohemicasignage.com/'}]) }}
			</div>

			<div class="pt-16 pb-8 md:pt-40 md:pb-16">
				{{ specialisation(name='uiux', image='uiux.svg', color='green', order='03') }}
			</div>
			<div class="divide-y divide-gray-legacy-500">
				{{ projectExample(project='superflow', imageWrapper='3d', imageSize='40') }}
			</div>

			<div class="pt-16 pb-8 md:pt-40 md:pb-16">
				{{ specialisation(name='branding', image='branding.svg', color='amber', order='04') }}
			</div>
			<div class="divide-y divide-gray-legacy-500">
				{{ projectExample(project='branding', imageWrapper='3d', imageSize='45') }}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="flex justify-center items-center py-8 mt-24 rounded-t-3xl md:py-16 bg-gray-legacy-800 md:mt-48 md:rounded-t-7xl">
			{{ buttonLibrary() }}
		</div>
	</div>
</div>
