---
permalink: /sections/who.html
---

{% macro sectionWhoTranslation() %}
	Spruce.store('translation.sectionWho', {
	en: {
	first: {
	title: 'Remote-first mindset allows us to work with clients from all around the globe.',
	subtitle: false
	},
	second: {
	title: 'What our clients have to say about us.',
	subtitle: false
	},
	buttonTitle: 'You can read more about various projects we have done.'
	},
	cs: {
	first: {
	title: 'Our process. Simplified. CS',
	subtitle: 'See below what you can expect.'
	},
	second: {
	title: 'What our clients have to say about us.',
	subtitle: false
	},
	buttonTitle: 'You can read more about various projects we have done.'
	},
	return: function (data) {
	return Object.getProperty(Spruce.stores['translation.sectionWho'], Spruce.stores.global.language + '.' + data)
	}
	})
{% endmacro %}

{% from "components/section-intro.njk" import sectionIntro %}
{% from "components/section-title.njk" import sectionTitle %}
{% from "components/button-library.njk" import buttonLibrary %}
{% from "components/testimonial.njk" import testimonial %}

{{ sectionIntro(name='who', backgroundColor='gray-legacy-600', textColor='emerald', lineColor='gray-legacy-400', subtitle=false) }}

<div class="pt-12 pb-24 bg-white">
	<div class="container flex flex-col items-center" x-data x-init="(function () { {{ sectionWhoTranslation() }} })()">
		{{ sectionTitle(section='sectionWho', name='first', icon='globe.svg', subtitle=false) }}
		<img src="/images/map.svg" class="hidden my-32 w-full max-w-full h-auto md:block lg:px-24 xl:px-40">
		<img src="/images/map-mobile.svg" class="block my-16 w-10 md:hidden">
		<p class="mb-4 font-medium text-center text-cool-gray-700 sm:font-normal" x-text="$store['translation.sectionWho'].return('buttonTitle')"></p>
		<div class="flex justify-center items-center py-16 w-full md:px-32 rounded-4xl bg-teal-legacy-400">
			{{ buttonLibrary() }}
		</div>
		<hr class="mt-16 mb-12 h-48 border-t-0 border-l border-cool-gray-400 md:mt-32 md:mb-24 md:h-64">
		{{ sectionTitle(section='sectionWho', name='second', icon='stars.svg', subtitle=false) }}
		<div class="grid mt-12 bg-cool-gray-400 md:grid-cols-2" style="grid-gap: 1px;">
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='mmt', logo='logo.svg', logoHeight='16', color='blue') }}
			</div>
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='mmt', logo='logo.svg', logoHeight='16', color='amber') }}
			</div>
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='mmt', logo='logo.svg', logoHeight='16', color='yellow') }}
			</div>
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='mmt', logo='logo.svg', logoHeight='16', color='rose') }}
			</div>
		</div>
	</div>
</div>
