---
permalink: /sections/who.html
---

{% macro sectionWhoTranslation() %}
		Spruce.store('translation.sectionWho', {
			en: {
				first: {
					title: 'Remote-first mindset allows us to work with clients from all around the globe.',
					subtitle: false
				},
				second: {
					title: 'This is what some of our clients have to say about us.',
					subtitle: false
				},
				buttonTitle: 'You can read more about the various projects we have done.',
				testimonials: {
					mmt: {
						company: 'MMT',
						country: 'Czech Republic',
						url: 'mmt.cz',
						review: 'Amazing work! We would recommend Bohemica Studio to anyone who is looking for creative web developers.'
					},
					'lancaster-maloney': {
						company: 'Lancaster Maloney',
						country: 'United Kingdom',
						url: 'lancastermaloney.co.uk',
						review: 'Great experience, job was finished quickly and everything we had asked for was completed on time.'
					},
					'media-server': {
						company: 'T-Mobile',
						country: 'Czech Republic, Global',
						url: 't&#8209;mobile.cz/microsites/magenta-experience',
						review: 'Good work from a smart and responsive team. We already have other projects in the pipeline for them.'
					},
					'subtitle-editor': {
						company: 'SlidesLive',
						country: 'EU, Global',
						url: 'slideslive.com',
						review: 'Bohemica Studio impressed me on multiple levels. We would not be able to pull our Subtitle Editor without them. We continue to work with these folks on other projects.'
					},
				}
			},
			cs: {
				first: {
					title: 'Styl práce na dálku nám umožňuje pracovat s klienty z celého světa.',
					subtitle: false
				},
				second: {
					title: 'Co o nás říkají někteří z našich klientů.',
					subtitle: false
				},
				buttonTitle: 'Více o úspěšně dokončených projektech.',
				testimonials: {
					mmt: {
						company: 'MMT s.r.o.',
						country: 'Česká Republika',
						url: 'mmt.cz',
						review: 'Amazing work! We would recommend Bohemica Studio to anyone who is looking for creative web developers.'
					},
					'lancaster-maloney': {
						company: 'Lancaster Maloney',
						country: 'Velká Británie',
						url: 'lancastermaloney.co.uk',
						review: 'Great experience, job was finished quickly and everything we had asked for was completed on time.'
					},
					'media-server': {
						company: 'T-Mobile (Magenta Experience Center)',
						country: 'Česká Republika, Globálně',
						url: 't&#8209;mobile.cz/microsites/magenta-experience',
						review: 'Good work from a smart and responsive team. We already have other projects in the pipeline for them.'
					},
					'subtitle-editor': {
						company: 'SlidesLive',
						country: 'EU, Globálně',
						url: 'slideslive.com',
						review: 'Amazing work! We would recommend Bohemica Studio to anyone who is looking for creative web developers.'
					}
				}
			},
			return: function (data) {
				return Object.getProperty(Spruce.stores['translation.sectionWho'], Spruce.stores.global.language + '.' + data)
			}
		})
{% endmacro %}

{% from "components/section-intro.njk" import sectionIntro %}
{% from "components/section-title.njk" import sectionTitle %}
{% from "components/button-library.njk" import buttonLibrary %}
{% from "components/testimonial.njk" import testimonial %}

{{ sectionIntro(name='who', backgroundColor='gray-legacy-600', textColor='emerald', lineColor='gray-legacy-400', subtitle=false) }}

<div class="pt-12 pb-24 bg-white">
	<div class="container flex flex-col items-center" x-data x-init="(function () { {{ sectionWhoTranslation() }} })()">
		{{ sectionTitle(section='sectionWho', name='second', icon='stars.svg', subtitle=false) }}
		<hr class="mt-12 h-20 border-t-0 border-l border-cool-gray-400 md:mt-16 md:h-24">
		<div class="grid bg-cool-gray-400 md:grid-cols-2" style="grid-gap: 1px;">
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='mmt', logo='logo.svg', logoHeight='18', color='blue') }}
			</div>
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='lancaster-maloney', logo='logo.png', logoHeight='12', color='amber') }}
			</div>
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='media-server', logo='logo.svg', logoHeight='10', color='yellow') }}
			</div>
			<div class="p-8 bg-white lg:p-16">
				{{ testimonial(project='subtitle-editor', logo='logo.svg', logoHeight='11', color='rose') }}
			</div>
		</div>
		<hr class="mb-12 h-40 border-t-0 border-l border-cool-gray-400 md:mb-16 md:h-48">
		{{ sectionTitle(section='sectionWho', name='first', icon='globe.svg', subtitle=false) }}
		<picture>
			<source srcset="./images/map.webp" type="image/webp">
			<source srcset="./images/map.png" type="image/png">
			<img src="./images/map.png" class="hidden my-20 w-full max-w-full h-auto md:block lg:px-12 xl:px-28" media="(min-width: 960px)" loading="lazy">
		</picture>
		<picture>
			<source srcset="./images/map-mobile.svg" type="image/svg">
			<img src="./images/map-mobile.svg" class="block my-16 w-10 md:hidden" media="(max-width: 960px)" loading="lazy">
		</picture>
		<p class="mb-4 font-medium text-center text-cool-gray-700 sm:font-normal" x-text="$store['translation.sectionWho'].return('buttonTitle')"></p>
		<div class="flex justify-center items-center py-16 w-full md:w-auto md:px-32 rounded-4xl bg-teal-legacy-400">
			{{ buttonLibrary(offsetColor='teal-legacy-400') }}
		</div>
	</div>
</div>
