{% extends "includes/default.njk" %}

{% block title %}Bohemica Studio{% endblock %}

{% block content %}
	<div class="fixed inset-0 flex items-center justify-center">
		<div x-data="{ load: false }" class="space-y-4">

			<button x-on:click="load = true" class="bg-blue-200">Load</button>

			<template x-if="load">
				<script async defer src="./script/main.js" crossorigin></script>
			</template>

			<script>

				Spruce.store('project', {
					name: 'MMT',
					html: '<div>Init</div>',
					get firstName() {
						return this.name.split(' ')[0]
					},
					set setHTML(data) {
						this.html = data;
					}
				})

				async function init() {
					console.log('init')
					fetch('./projects/mmt.html')
						.then(response => response.text())
						.then(html => {
							console.log(html)
							Spruce.store('project').setHTML = html
						})
				}

			</script>

			<div x-data="project()" x-init="init()">
				<div x-html="$store.project.html">
				</div>
			</div>

		</div>
	</div>
{% endblock %}
